$primaryColor: #e5f4e3;
$secondaryColor: #124dba;
$thirdColor: #f04819;

.container {
  display: grid;
  grid-template-columns: 12.5rem calc(100% - 12.5rem);
  grid-template-areas: "sidenav shelf";
  min-height: 100vh;
  width: 95%;
  margin: 6rem auto 3rem auto;
}

.sidenav {
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  grid-area: sidenav;
  border-right: 2px solid #c4c4c4;
  background-color: white;

  .title {
    padding-left: 1.25rem;
    padding-top: 1.25rem;
  }
  .sideBox {
    border-bottom: 0.125rem solid #c4c4c4;
    padding: 1.25rem 0 2.5rem 1.25rem;

    .priceRange {
      padding-top: 0.8rem;
    }

    .searchBar {
      outline: none;
      border: none;
      border-bottom: 0.063rem solid #c4c4c4;
      background-color: transparent;
      line-height: 1.5rem;
      padding-left: 1.5rem;
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22h-6%20w-6%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20stroke%3D%22currentColor%22%3E%0A%20%20%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%20d%3D%22M21%2021l-6-6m2-5a7%207%200%2011-14%200%207%207%200%200114%200z%22%20%2F%3E%0A%3C%2Fsvg%3E");
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
      background-position-y: center;
      background-repeat: no-repeat;
      width: 90%;
      margin-top: 0.626rem;
    }
  }

  .searchButton {
    background-color: $thirdColor;
    color: white;
    border: none;
    box-shadow: #00000080;
    width: 80%;
    line-height: 1.875rem;
    margin: 1.25rem;
    border-radius: 0.625rem;
  }
}

.shelf {
  grid-area: shelf;
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  background-color: white;
  min-height: 100%;

  .shelfContent {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    margin: 0.625rem auto;
    text-align: center;
  }
}
