.item {
  border: none;
  border-radius: 1.25rem;
  width: 12.5rem;
  height: 21.875rem;
  padding: 0.938rem;
  flex-basis: 21%;
  margin: 1.875rem 2%;

  .img {
    background-color: #124dba80;
    border-radius: 0.938rem;
  }

  .text {
    text-align: left;
    font-size: 0.75rem;
    width: 11.125rem;
    margin: 1.25rem auto 0.313rem auto;
  }
}
