$primary_color: #124dba;
$secondary_color: #e5f4e3;
$third_color: #f04819;

.header {
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.568);
}

.navbar {
  display: grid;
  grid-template-columns: 6fr 6fr;
  align-items: center;
  margin: auto;
  height: 4rem;
  font-weight: bold;
  border-bottom: 1px solid black;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    // transition: all 0.5s ease;
    color: darkslategrey;
    display: block;
    padding: 1.5rem;
    font-size: 0.9em;
  }

  a:hover {
    color: $primary_color;
  }
}
