$blue-green-400: #076b81;
// @use '../../styles/global.scss';

.card {
   width: 95%;

   background: $blue-green-400;
   height: 22rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   // align-items: center;
   padding: 2rem 4rem;

   border-radius: 0.2rem;
   box-shadow: 0rem 0.2rem 0.8rem black;

   h1 {
      color: var(--white);
      margin: 0rem 0rem 2rem 0rem;
   }
   p {
      margin: 0rem 0rem 1.5rem 0rem;
      color: var(--white);
   }
   button {
      margin: 0rem 0rem -3.5rem 0rem;
      align-items: center;
      width: 150px;
      color: black;
      font-size: 1rem;
      font-weight: bold;
      border: none;
      padding: 1rem;
      border-radius: 3rem;
      background-color: var(--gray-50);
      box-shadow: 0rem 0.2rem 0.5rem black;
      cursor: pointer;
   }
}
