@import "@/styles/mixins.scss";
// @mixin flex-grid-items($cols) {
//    display: flex;
//    flex-wrap: wrap;

//    > * {
//       $item-width: 100% / $cols;
//       width: $item-width;
//       box-sizing: border-box;
//    }
// }

.container {
   min-height: 72vh;

   // display: flex;
   padding-top: 4rem;

   margin-left: 3rem;
   margin-right: 3rem;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .categoryContainer {
      margin: 4rem 4rem 0rem 4rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .categoryButtonContainer{
         cursor: pointer;
         display: flex;
         align-items: center;
         flex-direction: column;
         .categoryCard {
            border: 1px solid white;
            border-radius: 1rem;
            height: 10rem;
            width: 10rem;
            margin: 2rem 2rem;
            background-color: var(--purple-logo);
         }
      }

      @include atXLScreen {
         flex-direction: row;
      }
   }

   .featuredContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 4rem 4rem 0rem 4rem;

      ul, li{
         display: flex;
         flex-direction: row;
      }
      .featuredProductContainer{
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         span{
            padding-top:0.3rem;
         }
      }

      .featuredCardContainer{    
         cursor: pointer;
         display: flex;
         align-items: center;
         flex-direction: column;
      }
      .featuredCard {
         border: 1px solid white;
         border-radius: 1rem;
         height: 10rem;
         width: 10rem;
         margin: 2rem 2rem;
         background-color: var(--purple-logo);
      }
      .featuredButton{
         padding-top: 0.3rem;
         button{
            border: none;
            background: none;
            span{
               padding-left: 0.3rem;
            }
         }
      }
   }

   .aboutContainer {
      display: flex;

      .aboutLeftContainer {
         .title {
            width: 100%;
         }
         width: 50%;
         display: flex;
         flex-direction: column;
         justify-content: center;

         align-items: center;
         p {
            padding-top: 3rem;
            font-size: larger;
         }
      }
      .aboutRightContainer {
         margin-top: 4rem;
         margin-left: 2rem;
         min-height: 45vh;
         width: 50%;
         background-color: var(--purple-logo);

         border: 1px solid white;
         border-radius: 1rem;
         .aboutCard {
            margin: 2rem 2rem;
         }
      }
   }
   .contactContainer {
      display: flex;
      margin: 4rem 2rem 4rem 0rem;

      .contactLeftContainer {
         min-height: 45vh;
         width: 50%;
         background-color: aquamarine;
         display: flex;
         flex-direction: column;
         justify-content: center;

         align-items: center;

         border: 1px solid white;
         border-radius: 1rem;

         .mapFrame {
            display: flex;
         }
      }
      .contactRightContainer {
         width: 50%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         padding-left: 3rem;
         
         .sectionContacts{
            padding: 1rem;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            p{
               padding-left: 2rem;
               font-size: larger;
            }
         }
      }
   }
}
