.productContainer {
  display: grid;
  width: 90%;
  margin: 3rem auto 3rem auto;
  //height: calc(110vh - 12rem);
  height: 40.625rem;
  grid-template-columns: 50% 50%;
  grid-template-areas: "imageContainer infoContainer";

  .imageContainer,
  .infoContainer {
    background-color: white;
  }

  .imageContainer {
    grid-area: imageContainer;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    border-right: 2px solid #c4c4c4;

    .imgGallery {
      text-align: center;
      width: 90%;
      margin: 30px auto;
    }
  }
  .infoContainer {
    grid-area: infoContainer;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;

    .info {
      display: flex;
      flex-flow: column nowrap;
      width: 90%;
      margin: 30px auto;

      span {
        width: 5px;
        height: 5px;
      }

      .productTitle{

      }

      .productDescription{
        margin-top:1.5rem;
      }

      .productStatus{
        margin-top:1.5rem;
      }

      .productPrice{
        margin-top:1.5rem;
        margin-bottom:1.5rem;
      }

      .boxProductQtt{
        margin-top: 1.5rem;
        flex-flow: row nowrap;

        input{
          border: none;
          border-right: none;
          border-left: none;
          width: 3rem;
          line-height: 2rem;
          text-align: center;
          background-color: white;
          &:focus{
            outline: none;
          }
        }

        button{
          width: 2rem;
          line-height: 2rem;
          background-color: transparent;
          border:none;
        }

      }

      #addToCartButton{
        margin: auto;
        margin-top:3rem;
        width: 60%;
        line-height: 3rem;
        border-radius: 0.8rem;
        background-color: transparent ;
        color:gray;
        &:hover{
          color:black ;
          border-color: black;
        }
      }
    }
  }
}
